span {
    color: aqua;
}

a {
    color: blueviolet;
    text-decoration: none;
}

div {
    text-indent: 50px;
    text-align: justify;
    font-family: Arial;
}

sup {
    color: blueviolet;
}

body {;
    width: 650px
}

hr {
    margin: -20px;
    width: 650px;
}
